$primary: rgba(230,230,230, 1);
$primary-light: lighten($primary, 40%);
$nav-height: 80px;


html {
    padding:0;
    margin:0;
}

nav#nav-bar{
    background-color: $primary-light;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

div#main{
    display: grid;
    height: 100%;
    width: 100%;
    padding-left: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    overflow-x: hidden;
    div#sidebar{
        padding-top: $nav-height;
        background-color: $primary;
        grid-row: 1/-1;
        overflow: hidden;
        position: fixed;
        left: 0;
        height: 100%;
        width: 80px;
    }
    div#content{
        padding-top: $nav-height;
        background-color: white;
        overflow-x: hidden;

        div#drink-list{
            padding: 0.5rem 1.5rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.5rem;
        }
    }
    form#auth-form{
        margin: 2rem auto;
        width: 40%;
        min-width: 400px;
        text-align: start;
        h4{
            padding: 8px 0;
        }
        button{
            margin: 20px 0;
        }
    }
}